* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

button, a, mat-select, input, textarea {
  min-height: 44px;
}

img {
  max-width: 100%;
  height: auto;
}